@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply w-full bg-zinc-200 dark:bg-zinc-900 text-zinc-800 dark:text-zinc-300;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}

	font-family: "Source Serif 4", Georgia, serif;
}

summary {
	list-style: none;
}

::marker,
::-webkit-details-marker {
	display: none !important;
}

@theme {
	--animate-loading: loading 1s infinite;

	@keyframes loading {
		0%,
		100% {
			transform: none;
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}

		50% {
			transform: translateY(-25%);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}
